#bfs-box {
	width: 80%;
}
#bfs-boxes {
	height: 270px;
	width: 400px;
	background-color: var(--mid);
	margin: 0px 16px 16px 16px;
}
#bfs-extra {
	display: flex;
	width: 80%;
	justify-content: space-between;
	max-height: 35%;
	margin-left: 20px;
}
ol {
	margin: 0px;
}
li {
	margin-bottom: 4px;
}
code {
	font-size: 16px !important;
}
pre {
	line-height: 0 !important;
	padding: 4px !important;
	margin: 0px !important;
}
.linenumber {
	min-width: 32px !important;
	text-align: center !important;
	padding: 0px !important;
}
